Source: ubuntu-push-qml
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake (>= 2.8.9),
               dbus-test-runner,
               debhelper (>= 9),
               hardening-wrapper,
               libconnectivity-qt1-dev,
               pkg-config,
               python,
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-test-plugin,
               qtdeclarative5-ubuntu-ui-toolkit-plugin,
               libunity-api-dev,
               xvfb,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/ubuntu-push-qml
Vcs-Bzr: https://code.launchpad.net/~ubuntu-push-hackers/ubuntu-push-qml/trunk

Package: qtdeclarative5-ubuntu-push-plugin
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
Description: Ubuntu Push Notifications QML plugin
 Register, receive and send push notifications.
